/*

   BORDER STYLES
   Docs: http://tachyons.io/docs/themes/borders/

   Depends on base border module in _borders.css

   Base:
     b = border-style

   Modifiers:
     --none   = none
     --dotted = dotted
     --dashed = dashed
     --solid  = solid

   Media Query Extensions:
     -ns = not-small
     -m  = medium
	 -l  = large
	 -xl = extra-large

 */

@media (--breakpoint-extra-large) {
	.b--dotted-xl { border-style: dotted; }
	.b--dashed-xl { border-style: dashed; }
	.b--solid-xl {  border-style: solid; }
	.b--none-xl {   border-style: none; }
}
