/*

   CLEARFIX
   http://tachyons.io/docs/layout/clearfix/

*/

/* Nicolas Gallaghers Clearfix solution
   Ref: http://nicolasgallagher.com/micro-clearfix-hack/ */

@media (--breakpoint-extra-large) {
	.cl-xl { clear: left; }
	.cr-xl { clear: right; }
	.cb-xl { clear: both; }
	.cn-xl { clear: none; }
}
