/*

   LINE HEIGHT / LEADING
   Docs: http://tachyons.io/docs/typography/line-height

   Media Query Extensions:
     -ns = not-small
     -m  = medium
	 -l  = large
	 -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .lh-solid-xl { line-height: 1; }
  .lh-title-xl { line-height: 1.25; }
  .lh-copy-xl  { line-height: 1.5; }
}

