/*

   MAX WIDTHS
   Docs: http://tachyons.io/docs/layout/max-widths/

   Base:
     mw = max-width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale
     6 = 6st step in width scale
     7 = 7nd step in width scale
     8 = 8rd step in width scale
     9 = 9th step in width scale

     -100 = literal value 100%

     -none  = string value none


   Media Query Extensions:
     -ns = not-small
     -m  = medium
	 -l  = large
	 -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .mw-100-xl  { max-width: 100%; }

  .mw1-xl  {  max-width: 1rem; }
  .mw2-xl  {  max-width: 2rem; }
  .mw3-xl  {  max-width: 4rem; }
  .mw4-xl  {  max-width: 8rem; }
  .mw5-xl  {  max-width: 16rem; }
  .mw6-xl  {  max-width: 32rem; }
  .mw7-xl  {  max-width: 48rem; }
  .mw8-xl  {  max-width: 64rem; }
  .mw9-xl  {  max-width: 96rem; }

  .mw-none-xl { max-width: none; }
}
