/*

   OUTLINES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -xl  = extra-large

*/

@media (--breakpoint-extra-large) {
  .outline-xl { outline: 1px solid; }
  .outline-transparent-xl { outline: 1px solid transparent; }
  .outline-0-xl { outline: 0; }
}
