/*

   POSITIONING
   Docs: http://tachyons.io/docs/layout/position/

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .static-xl { position: static; }
  .relative-xl  { position: relative; }
  .absolute-xl  { position: absolute; }
  .fixed-xl  { position: fixed; }
}
