/*

   TEXT TRANSFORM
   Docs: http://tachyons.io/docs/typography/text-transform/

   Base:
     tt = text-transform

   Modifiers
     c = capitalize
     l = lowercase
     u = uppercase
     n = none

   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .ttc-xl { text-transform: capitalize; }
  .ttl-xl { text-transform: lowercase; }
  .ttu-xl { text-transform: uppercase; }
  .ttn-xl { text-transform: none; }
}
