/*

  TEXT ALIGN
  Docs: http://tachyons.io/docs/typography/text-align/

  Base
    t = text-align

  Modifiers
    l = left
    r = right
    c = center
    j = justify

  Media Query Extensions:
    -ns = not-small
    -m  = medium
    -l  = large
    -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .tl-xl  { text-align: left; }
  .tr-xl  { text-align: right; }
  .tc-xl  { text-align: center; }
  .tj-xl  { text-align: justify; }
}
