/*

   TEXT DECORATION
   Docs: http://tachyons.io/docs/typography/text-decoration/


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .strike-xl       { text-decoration: line-through; }
  .underline-xl {    text-decoration: underline; }
  .no-underline-xl { text-decoration: none; }
}
