/*

   TYPE SCALE
   Docs: http://tachyons.io/docs/typography/scale/

   Base:
    f = font-size

   Modifiers
     1 = 1st step in size scale
     2 = 2nd step in size scale
     3 = 3rd step in size scale
     4 = 4th step in size scale
     5 = 5th step in size scale
     6 = 6th step in size scale
     7 = 7th step in size scale

   Media Query Extensions:
     -ns = not-small
     -m  = medium
	 -l  = large
	 -xl = extra-large
*/

@media (--breakpoint-extra-large) {
  .f-6-xl,
  .f-headline-xl {
    font-size: 6rem;
  }
  .f-5-xl,
  .f-subheadline-xl {
    font-size: 5rem;
  }
  .f1-xl { font-size: 3rem; }
  .f2-xl { font-size: 2.25rem; }
  .f3-xl { font-size: 1.5rem; }
  .f4-xl { font-size: 1.25rem; }
  .f5-xl { font-size: 1rem; }
  .f6-xl { font-size: .875rem; }
  .f7-xl { font-size: .75rem; }
}
