/*

   UTILITIES

   Media Query Extensions:
     -ns = not-small
     -m  = medium
	 -l  = large
	 -xl = extra-large

*/

@media (--breakpoint-extra-large){
  .center-xl {
    margin-right: auto;
    margin-left: auto;
  }
  .mr-auto-xl { margin-right: auto; }
  .ml-auto-xl { margin-left:  auto; }
}
