/*

   WIDTHS
   Docs: http://tachyons.io/docs/layout/widths/

   Base:
     w = width

   Modifiers
     1 = 1st step in width scale
     2 = 2nd step in width scale
     3 = 3rd step in width scale
     4 = 4th step in width scale
     5 = 5th step in width scale

     -10  = literal value 10%
     -20  = literal value 20%
     -25  = literal value 25%
     -30  = literal value 30%
     -33  = literal value 33%
     -34  = literal value 34%
     -40  = literal value 40%
     -50  = literal value 50%
     -60  = literal value 60%
     -70  = literal value 70%
     -75  = literal value 75%
     -80  = literal value 80%
     -90  = literal value 90%
     -100 = literal value 100%

     -third      = 100% / 3 (Not supported in opera mini or IE8)
     -two-thirds = 100% / 1.5 (Not supported in opera mini or IE8)
     -auto       = string value auto


   Media Query Extensions:
     -ns = not-small
     -m  = medium
     -l  = large
     -xl = extra-large

*/

@media (--breakpoint-extra-large) {
  .w1-xl {      width: 1rem; }
  .w2-xl {      width: 2rem; }
  .w3-xl {      width: 4rem; }
  .w4-xl {      width: 8rem; }
  .w5-xl {      width: 16rem; }
  .w-10-xl {    width:  10%; }
  .w-20-xl {    width:  20%; }
  .w-25-xl {    width:  25%; }
  .w-30-xl {    width:  30%; }
  .w-33-xl {    width:  33%; }
  .w-34-xl {    width:  34%; }
  .w-40-xl {    width:  40%; }
  .w-50-xl {    width:  50%; }
  .w-60-xl {    width:  60%; }
  .w-70-xl {    width:  70%; }
  .w-75-xl {    width:  75%; }
  .w-80-xl {    width:  80%; }
  .w-90-xl {    width:  90%; }
  .w-100-xl {   width: 100%; }
  .w-third-xl { width: calc(100% / 3); }
  .w-two-thirds-xl { width: calc(100% / 1.5); }
  .w-auto-xl {    width: auto; }
}
